@using TheatreManagement.Shared.DTOs.Employees
@* // ПЕРВОЕ МОДАЛЬНОЕ ОКНО *@
<Modal Visible="@Visible"
Title="Изменение мероприятия"
OnOk="HandleOk"
OnCancel="HandleCancel"
ConfirmLoading="Submitting"
MaskClosable="@false">

    <Form Model="@Model" @ref="@FormRef"
    OnFinishFailed="@OnFinishFailed"
    OnFinish="@OnFinish">

        <FormItem Label="Тип мероприятия" Required>
            <Select Mode="SelectMode.Default"
            DataSource="@SelectItemValues.EventTypes"
            @bind-Value="@selectedEventType"
            LabelName="Name"
            ValueName="Value"
            Placeholder="Выберите тип мероприятия"
            Disabled="@isDisabled">
            </Select>
        </FormItem>

        <!-- Даты -->
        <p>Даты проведения</p>
        <FormItem Required>
            <RangePicker TValue="DateTime[]"
            ShowTime='@("HH:mm")'
            MinDate="@(new DateTime(2026, 1, 1))"
            MaxDate="@(new DateTime(3000, 12, 31))"
            AllowClear="false"
            ChangeOnClose="true"
            @bind-Value="@dateRange"/>
        </FormItem>


        <!-- Поля для Стационара -->
        @if (selectedEventType == "stationar")
        {
            <Divider>Стационар</Divider>

            <div style="flex: 1; display: flex; gap: 8px; align-items: center;">
                <FormItem Label="Зал" Required>
                    <Select Mode="SelectMode.Default"
                    DataSource ="@SelectItemValues.HallTypes"
                    @bind-Value="@selectedHall"
                    LabelName="Name"
                    ValueName="Value"
                    Placeholder="Выберите зал">
                    </Select>
                </FormItem>
                @if (employeeConflicts.Where(ec => ec.Type == ConflictType.HallConflict).Any())
                {
                    var hallMessage = string.Join(Environment.NewLine, employeeConflicts.Where(ec => ec.Type == ConflictType.HallConflict)
                    .Select(c => c.Message));

                    <Tooltip Title="@hallMessage">
                        <WarningIcon />
                    </Tooltip>
                }
            </div>

            <FormItem Label="Тип выступления" Required>
                <Select Mode="SelectMode.Default"
                DataSource="@SelectItemValues.PerformanceTypes"
                @bind-Value="@selectedPerformanceType"
                LabelName="Name"
                ValueName="Value"
                Placeholder="Выберите тип выступления">
                </Select>
            </FormItem>
        }

        <!-- Поля для Гастролей -->
        @if (selectedEventType == "tour")
        {
            <Divider>Гастроли</Divider>

            <FormItem Label="Страна" Required>
                <Input @bind-Value="@Model.Tour.Country" />
            </FormItem>

            <FormItem Label="Город/Регион" Required>
                <Input @bind-Value="@Model.Tour.Area" />
            </FormItem>
        }

        <!-- Поля для Выезда -->
        @if (selectedEventType == "visit")
        {
            <Divider>Учреждение</Divider>

            <FormItem Label="Название" Required>
                <AutoComplete @bind-Value="@Model.Institution.Name"
                              OnInput="OnSearch"
                              Options="@institutionOptions"
                              OnSelectionChange="OnInstitutionChange"
                              OnActiveChange="OnInstitutionSelect"
                              Placeholder="Введите название нового учреждения или выберите из списка" />
            </FormItem>
            <FormItem Label="Город" Required>
                <Input @bind-Value="@Model.Institution.Town" @oninput="@(e => OnInstitutionFieldChanged())" Disabled="@isInstitutionSelected" />
            </FormItem>
            <FormItem Label="Улица" Required>
                <Input @bind-Value="@Model.Institution.Street" @oninput="@(e => OnInstitutionFieldChanged())" Disabled="@isInstitutionSelected" />
            </FormItem>
            <FormItem Label="Дом" Required>
                <Input @bind-Value="@Model.Institution.House" @oninput="@(e => OnInstitutionFieldChanged())" Disabled="@isInstitutionSelected" />
            </FormItem>
        }


        <!-- Спектакли -->
        <Divider>Спектакли</Divider>

        @for (int i = 0; i < Model.PlayEvents.Count; i++)
        {
            var index = i;
            var hasConflict = HasPlayConflict(index);

            <div style="border: 1px solid #d9d9d9; border-radius: 4px; padding: 12px; margin-bottom: 12px;">
                <Button Danger Class="danger-button" OnClick="() => RemovePlayEvent(index)"
                Disabled="@(Model.PlayEvents.Count == 1)">
                    <Icon Type="@IconType.Outline.Delete" />
                </Button>
                <Button Type="ButtonType.Primary"
                OnClick="() => OpenRolesModal(index)">
                    Состав
                </Button>

                <FormItem Label="Спектакль">
                    <Select Mode="SelectMode.Default"
                    DataSource="@availablePlays"
                    EnableSearch="true"
                    Placeholder="Введите название спектакля"
                    @bind-Value="@Model.PlayEvents[index].PlayId"
                    LabelName="@nameof(PlayDto.Name)"
                    ValueName="@nameof(PlayDto.PlayId)" />
                </FormItem>

                @if (hasConflict)
                {
                    <Tooltip Title="В составе спектакля есть конфликты">
                        <WarningIcon />
                    </Tooltip>
                }

                @if (Model.PlayEvents[index].RoleDisplays.Any())
                {
                    <div>Назначенные роли:</div>
                    @foreach (var roleDisplay in Model.PlayEvents[index].RoleDisplays)
                    {
                        <div style="font-size: 12px; margin-bottom: 4px;">
                            <b>@roleDisplay.RoleName:</b> @roleDisplay.EmployeeNames
                        </div>
                    }
                }

            </div>
        }

        <Button Type="ButtonType.Dashed" OnClick="AddPlayEvent" Block>
            + Добавить спектакль
        </Button>

    </Form>
</Modal>

@* ВТОРОЕ МОДАЛЬНОЕ ОКНО *@

<Modal Visible="@rolesModalVisible"
OnOk="SaveRoles"
OnCancel="CancelRoles"
Title="Назначение ролей">
    <div>
        <b>Спектакль:</b> @currentPlayName
    </div>

    @* Выбор готового каста *@
    <Select TItem="CastDto"
    TItemValue="int"
    DataSource="@currentPlayCasts"
    @bind-Value="@selectedCastId"
    LabelName="@nameof(CastDto.Name)"
    ValueName="@nameof(CastDto.CastId)"
    OnSelectedItemChanged="@OnSelectedItemChangedHandler">
    </Select>

    <Form Model="@EmployeeRolesModel" @ref="@EmployeeRolesFormRef">

        @* Динамическое добавление сотрудников на роли *@
        <Divider>Актеры</Divider>

        @foreach (var role in play.RoleDtos.Where(r => r.RoleType == "Актерская"))
        {
            <div style="margin-bottom: 20px; border: 1px solid #ddd; padding: 10px; border-radius: 4px;">
                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                    <b>@role.Name</b>
                    <Button Type="ButtonType.Primary" OnClick="() => AddTempAssignment(role.RoleInPlayId)">
                        <Icon Type="@IconType.Outline.Plus" />
                    </Button>
                </div>

                @for (int i = 0; i < GetTempAssignmentsCount(role.RoleInPlayId); i++)
                {
                    var roleId = role.RoleInPlayId;
                    var index = i;
                    var selectedEmployeeId = GetTempAssignmentEmployeeId(roleId, index);
                    var hasConflict = HasEmployeeConflict(selectedEmployeeId);

                    <div style="display: flex; gap: 10px; margin-top: 10px;">
                        <div style="flex: 1; display: flex; gap: 8px; align-items: center;">
                            <Select Mode="SelectMode.Default"
                            DataSource="@actors"
                            Value="@GetTempAssignmentEmployeeId(roleId, index)"
                            ValueChanged="@((int value) => SetTempAssignmentEmployeeId(roleId, index, value))"
                            LabelName="@nameof(EmployeeDto.FullName)"
                            ValueName="@nameof(EmployeeDto.EmployeeId)"
                            Style="flex: 1" />

                            @if (hasConflict && selectedEmployeeId > 0)
                            {
                                <Tooltip Title="@GetEmployeeConflictMessage(selectedEmployeeId)">
                                    <WarningIcon />
                                </Tooltip>
                            }
                        </div>

                        <Button Danger OnClick="() => RemoveTempAssignment(roleId, index)">
                            <Icon Type="@IconType.Outline.Delete" />
                        </Button>
                    </div>
                }
            </div>
        }

        <Divider>Технический состав</Divider>

        @foreach (var role in play.RoleDtos.Where(r => r.RoleType == "Техническая"))
        {
            <div style="margin-bottom: 20px; border: 1px solid #ddd; padding: 10px; border-radius: 4px;">
                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                    <b>@role.Name</b>
                    <Button Type="ButtonType.Primary" OnClick="() => AddTempAssignment(role.RoleInPlayId)">
                        <Icon Type="@IconType.Outline.Plus" />
                    </Button>
                </div>

                @for (int i = 0; i < GetTempAssignmentsCount(role.RoleInPlayId); i++)
                {
                    var roleId = role.RoleInPlayId;
                    var index = i;
                    var selectedEmployeeId = GetTempAssignmentEmployeeId(roleId, index);
                    var hasConflict = HasEmployeeConflict(selectedEmployeeId);

                    <div style="display: flex; gap: 10px; margin-top: 10px; align-items: center;">
                        <div style="flex: 1; display: flex; gap: 8px; align-items: center;">
                            <Select Mode="SelectMode.Default"
                            DataSource="@technics"
                            Value="@selectedEmployeeId"
                            ValueChanged="@((int value) => SetTempAssignmentEmployeeId(roleId, index, value))"
                            LabelName="@nameof(EmployeeDto.FullName)"
                            ValueName="@nameof(EmployeeDto.EmployeeId)"
                            EnableSearch="true"
                            Placeholder="Введите ФИО сотрудника"
                            Style="width: 100%; max-width: 300px;" />

                            @if (hasConflict && selectedEmployeeId > 0)
                            {
                                <Tooltip Title="@GetEmployeeConflictMessage(selectedEmployeeId)">
                                    <WarningIcon />
                                </Tooltip>
                            }
                        </div>

                        <Button Danger OnClick="() => RemoveTempAssignment(roleId, index)">
                            <Icon Type="@IconType.Outline.Delete" />
                        </Button>
                    </div>
                }

            </div>
        }
    </Form>

</Modal>


@code {
    [Parameter] public bool Visible { get; set; }
    [Parameter] public EventCallback<bool> VisibleChanged { get; set; }
    [Parameter] public EventCallback OnSuccess { get; set; }
    [Parameter] public DateTime EventDate { get; set; }
    [Parameter] public int EventId { get; set; }

    [Inject] private AuthenticationStateProvider provider { get; set; }
    [Inject] private PlayService playService { get; set; }
    [Inject] private EmployeeService employeeService { get; set; }
    [Inject] private EventService eventService { get; set; }
    [Inject] private InstitutionService institutionService { get; set; }
    [Inject] private EventConflictCheckerService _conflictChecker { get; set; }

    [Inject] private IMessageService messageService { get; set; }

    private Form<EventPostModel> FormRef { get; set; }
    private EventPostModel Model { get; set; } = new();
    private EventGetModel EditedEvent { get; set; } = new();

    private string selectedEventType = "stationar";
    private List<PlayDto> availablePlays = new();
    private bool Submitting { get; set; } = false;

    public string error = "";

    private DateTime[] dateRange = new DateTime[2];

    // Для выезда
    private string institutionSearchText = "";
    private List<string> institutionOptions = new();
    private List<InstitutionDto> institutions = new();
    private AutoCompleteOption selectInstitutionItem;
    private AutoCompleteOption activeInstitutionItem;
    private bool isInstitutionSelected = true;

    private async Task OnSearch(ChangeEventArgs e)
    {
        var searchText = e.Value?.ToString() ?? "";
        institutionSearchText = searchText;

        isInstitutionSelected = false;

        institutions = await institutionService.SearchInstitutionsAsync(searchText);
        institutionOptions = institutions.Select(i => i.Name).ToList();
        StateHasChanged();
    }

    private void OnInstitutionChange(AutoCompleteOption item)
    {
        if (item != null)
        {
            Model.Institution.InstitutionId = 0;

            var selectedInstitution = institutions.FirstOrDefault(i => i.Name == item.Value);
            if (selectedInstitution != null)
            {
                Model.Institution.InstitutionId = selectedInstitution.InstitutionId;
                Model.Institution.Name = selectedInstitution.Name;
                Model.Institution.Town = selectedInstitution.Town;
                Model.Institution.Street = selectedInstitution.Street;
                Model.Institution.House = selectedInstitution.House;
                Model.Institution.InstitutionId = selectedInstitution.InstitutionId;
                isInstitutionSelected = true;
            }
        }
    }

    private void OnInstitutionFieldChanged()
    {
        if (Model.Institution.InstitutionId > 0)
        {
            Model.Institution.InstitutionId = 0;
            isInstitutionSelected = false;
        }
    }

    private void OnInstitutionSelect(AutoCompleteOption item)
    {
        if (item == null) return;

        Model.Institution.InstitutionId = 0;

        var selectedInstitution = institutions.FirstOrDefault(i => i.Name == item.Value);

        if (selectedInstitution != null)
        {
            Model.Institution.InstitutionId = selectedInstitution.InstitutionId;
            Model.Institution.Name = selectedInstitution.Name;
            Model.Institution.Town = selectedInstitution.Town;
            Model.Institution.Street = selectedInstitution.Street;
            Model.Institution.House = selectedInstitution.House;
            Model.Institution.InstitutionId = selectedInstitution.InstitutionId;

            isInstitutionSelected = true;
        }

        StateHasChanged();
    }

    private async Task<bool> IsInstitutionNameUnique(string name, int? currentId = null)
    {
        var existing = await institutionService.GetInstitutionByNameAsync(name);

        if (currentId.HasValue && existing?.InstitutionId == currentId.Value)
            return true;

        return existing == null;
    }


    // Для стационара
    private string _selectedHall = "";
    private string selectedHall
    {
        get => _selectedHall;
        set
        {
            if (_selectedHall != value)
            {
                _selectedHall = value;
                InvokeAsync(async () => await CheckConflicts());
            }
        }
    }

    private string selectedPerformanceType = "";

    //Проверка на наличие конфликтов
    private List<Warning> employeeConflicts = new();

    private async Task CheckConflicts()
    {
        if (dateRange == null || dateRange.Length < 2)
            return;

        var request = new ConflictCheckRequest
            {
                StartTime = dateRange[0],
                EndTime = dateRange[1],
                Type = selectedEventType,
                Hall = selectedEventType == "stationar" ? selectedHall : null,
                EmployeeIds = GetSelectedEmployeeIds(),
                ExcludeEventId = Model.EventId
            };

        var response = await _conflictChecker.CheckConflictsAsync(request);

        employeeConflicts = response.Warnings;
        StateHasChanged();
    }

    // Конфликты у сотрудников
    private bool HasEmployeeConflict(int employeeId)
    {
        return employeeConflicts.Any(c => c.Type == ConflictType.EmployeeConflict && c.EmployeeId == employeeId);
    }

    private string GetEmployeeConflictMessage(int employeeId)
    {
        var conflict = employeeConflicts.FirstOrDefault(c => c.Type == ConflictType.EmployeeConflict && c.EmployeeId == employeeId);
        return conflict?.Message ?? "";
    }

    // Конфликты у сотрудников общее отображение для спектакля
    private bool HasPlayConflict(int playIndex)
    {
        if (Model?.PlayEvents == null) return false;
        if (playIndex < 0 || playIndex >= Model.PlayEvents.Count) return false;

        var playEvent = Model.PlayEvents[playIndex];
        if (playEvent?.SelectedEmployees == null) return false;
        if (employeeConflicts == null) return false;

        return playEvent.SelectedEmployees.Any(employee =>
            employeeConflicts.Any(c => c.Type == ConflictType.EmployeeConflict && c.EmployeeId == employee.EmployeeId));
    }


    private List<int> GetSelectedEmployeeIds()
    {
        var employeeIds = new List<int>();

        // Добавляем только что выбранных сотрудников
        foreach (var selection in tempSelections)
        {
            if (selection.EmployeeId > 0 && !employeeIds.Contains(selection.EmployeeId))
            {
                employeeIds.Add(selection.EmployeeId);
            }
        }

        // Загрузка остальных добавленных сотрудников
        //Возможно потом нужно убрать
        if (Model?.PlayEvents != null)
        {
            foreach (var playEvent in Model.PlayEvents)
            {
                // Текущий выбранный спектакль пропущен
                if (currentPlayEventIndex >= 0 &&
                    Model.PlayEvents.IndexOf(playEvent) == currentPlayEventIndex)
                {
                    continue;
                }

                if (playEvent.SelectedEmployees != null)
                {
                    foreach (var employee in playEvent.SelectedEmployees)
                    {
                        if (employee.EmployeeId > 0 && !employeeIds.Contains(employee.EmployeeId))
                        {
                            employeeIds.Add(employee.EmployeeId);
                        }
                    }
                }
            }
        }

        return employeeIds;
    }


    protected override async Task OnParametersSetAsync()
    {
        if (Visible)
        {
            await LoadData();
            await LoadUserData();
            await LoadPlays();
            await CheckConflicts();
        }
    }

    // Подгрузка данных для редактирования
    private async Task LoadData()
    {
        Model = await eventService.GetEventForEditAsync(EventId);
        selectedEventType = Model.Type;
        dateRange[0] = Model.StartTime;
        dateRange[1] = Model.EndTime;

        Model.Stationar ??= new StationarDto();
        Model.Tour ??= new TourDto();
        Model.Institution ??= new InstitutionDto();

        if (Model.Type == "stationar")
        {
            selectedHall = Model.Stationar.Hall;
            selectedPerformanceType = Model.Stationar.Type;
        }
    }

    private async Task LoadPlays()
    {
        availablePlays = await playService.GetPlaysAsync();
    }

    private void AddPlayEvent()
    {
        Model.PlayEvents.Add(new PlayEventDto());
        StateHasChanged();
    }

    private void RemovePlayEvent(int index)
    {
        Model.PlayEvents.RemoveAt(index);
        StateHasChanged();
    }


    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed");
    }

    private async Task HandleOk()
    {
        if (FormRef != null)
        {
            FormRef.Submit();
        }
    }

    private async Task OnFinish(EditContext editContext)
    {
        Console.WriteLine("Начинаем обновление");
        if (Submitting) return;

        StateHasChanged();

        try
        {
            Submitting = true;

            Model.StartTime = dateRange[0];
            Model.EndTime = dateRange[1];
            Model.Type = selectedEventType;

            if (selectedEventType == "stationar")
            {
                Model.Stationar.Hall = selectedHall;
                Model.Stationar.Type = selectedPerformanceType;
            }

            var formResult = await eventService.UpdateEventAsync(Model);

            if (formResult.Succeeded)
            {
                messageService.Success("Мероприятие успешно обновлено");
            }
            else
            {
                error = formResult.Errors[0];
                return;
            }

            Visible = false;
            await VisibleChanged.InvokeAsync(false);
            await OnSuccess.InvokeAsync();
            ResetForm();
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
        finally
        {
            Submitting = false;
            StateHasChanged();
        }
    }

    private async Task HandleCancel()
    {
        Visible = false;
        await VisibleChanged.InvokeAsync(false);
        ResetForm();
    }

    private void ResetForm()
    {
        Model = new EventPostModel();
        selectedEventType = "stationar";
        FormRef?.Reset();
        StateHasChanged();
    }

    // ВТОРОЕ МОДАЛЬНОЕ ОКНО

    private bool rolesModalVisible = false;
    private Form<EmployeeRoleCreateDto> EmployeeRolesFormRef { get; set; }
    private EmployeeRoleCreateDto EmployeeRolesModel { get; set; } = new();

    // Данные для ролей
    private PlayDto play = new();
    private List<EmployeeDto> actors = new();
    private List<EmployeeDto> technics = new();

    private List<EmployeeRoleSelectDto> tempSelections = new();

    private int currentPlayEventIndex = -1;
    private int currentPlayId = 0;
    private string currentPlayName = "";

    // Переменные для подгрузки сотрудников из состава
    private List<CastDto> currentPlayCasts = new();
    private int selectedCastId;
    private CastWithRolesDto selectedCast = new();

    private void OpenRolesModal(int index)
    {
        currentPlayEventIndex = index;
        currentPlayId = Model.PlayEvents[currentPlayEventIndex].PlayId;

        var selectedPlay = availablePlays.FirstOrDefault(p => p.PlayId == currentPlayId);
        currentPlayName = selectedPlay?.Name ?? "Не выбран";

        selectedCastId = Model.PlayEvents[currentPlayEventIndex].CastId;
        LoadPlayData(currentPlayId);

        rolesModalVisible = true;
        StateHasChanged();
    }

    private async void LoadPlayData(int playId)
    {
        if (playId > 0)
        {
            play = await playService.GetPlayAsync(playId);
            actors = await employeeService.GetActorsAsync();
            technics = await employeeService.GetTechnicsAsync();

            currentPlayCasts = await playService.GetCastsAsync(playId);

            //Загрузка сохраненных ролей
            LoadSavedRolesIntoTempAssignments();

            StateHasChanged();
        }
    }

    private void LoadSavedRolesIntoTempAssignments()
    {
        tempSelections.Clear();

        if (currentPlayEventIndex >= 0)
        {
            var playEvent = Model.PlayEvents[currentPlayEventIndex];

            if (playEvent.SelectedEmployees != null && playEvent.SelectedEmployees.Any())
            {
                foreach (var role in playEvent.SelectedEmployees)
                {
                    tempSelections.Add(new EmployeeRoleSelectDto
                        {
                            EmployeeId = role.EmployeeId,
                            RoleInPlayId = role.RoleInPlayId,
                            RoleName = GetRoleName(role.RoleInPlayId),
                            EmployeeFullName = GetEmployeeFullName(role.EmployeeId)
                        });
                }
            }
        }
    }

    private async Task OnSelectedItemChangedHandler()
    {
        selectedCast = await playService.GetCastAsync(selectedCastId);
        tempSelections.Clear();

        foreach (var role in selectedCast.Roles)
        {
            foreach (var employee in role.Employees)
            {
                tempSelections.Add(new EmployeeRoleSelectDto
                    {
                        EmployeeId = employee.EmployeeId,
                        RoleInPlayId = role.RoleInPlayId,
                        RoleName = GetRoleName(role.RoleInPlayId),
                        EmployeeFullName = $"{employee.Surname} {employee.Name}"
                    });
            }
        }
        StateHasChanged();
    }

    private void SaveRoles()
    {
        if (currentPlayEventIndex >= 0)
        {
            var playEvent = Model.PlayEvents[currentPlayEventIndex];

            playEvent.SelectedEmployees = tempSelections.Select(a => new EmployeeRoleSelectDto
                {
                    EmployeeId = a.EmployeeId,
                    RoleInPlayId = a.RoleInPlayId,
                    RoleName = a.RoleName,
                    EmployeeFullName = a.EmployeeFullName
                }).ToList();

            playEvent.CastId = selectedCastId;
        }

        rolesModalVisible = false;
        StateHasChanged();

        messageService.Success("Роли сохранены");
        ResetRolesModalState();
    }

    private void CancelRoles()
    {
        rolesModalVisible = false;
        StateHasChanged();
        ResetRolesModalState();
    }

    private void ResetRolesModalState()
    {
        selectedCastId = 0;
        selectedCast = new CastWithRolesDto();
        tempSelections.Clear();
        currentPlayEventIndex = -1;
        currentPlayId = 0;
        currentPlayName = "";
        play = new PlayDto();
        actors = new List<EmployeeDto>();
        technics = new List<EmployeeDto>();
        currentPlayCasts = new List<CastDto>();
        StateHasChanged();
    }

    // Для заполнения сотрудников и ролей
    private string GetEmployeeFullName(int employeeId)
    {
        var employee = actors.FirstOrDefault(a => a.EmployeeId == employeeId) ??
                       technics.FirstOrDefault(t => t.EmployeeId == employeeId);
        return employee != null ? $"{employee.Surname} {employee.Name}" : "";
    }

    private string GetRoleName(int roleId)
    {
        return play.RoleDtos.FirstOrDefault(r => r.RoleInPlayId == roleId)?.Name ?? "";
    }

    // Вспомогательные методы для назначения состава

    private int GetTempAssignmentsCount(int roleId)
    {
        return tempSelections.Count(a => a.RoleInPlayId == roleId);
    }

    private int GetTempAssignmentEmployeeId(int roleId, int index)
    {
        var assignments = tempSelections.Where(a => a.RoleInPlayId == roleId).ToList();
        if (index >= 0 && index < assignments.Count)
            return assignments[index].EmployeeId;
        return 0;
    }

    private void SetTempAssignmentEmployeeId(int roleId, int index, int value)
    {
        var assignments = tempSelections.Where(a => a.RoleInPlayId == roleId).ToList();
        if (index >= 0 && index < assignments.Count)
        {
            assignments[index].EmployeeId = value;
            assignments[index].EmployeeFullName = GetEmployeeFullName(value);
        }
        StateHasChanged();
    }

    private void AddTempAssignment(int roleId)
    {
        tempSelections.Add(new EmployeeRoleSelectDto
            {
                EmployeeId = 0,
                RoleInPlayId = roleId,
                RoleName = GetRoleName(roleId),
                EmployeeFullName = ""
            });
        StateHasChanged();
    }

    private void RemoveTempAssignment(int roleId, int index)
    {
        var assignments = tempSelections.Where(a => a.RoleInPlayId == roleId).ToList();
        if (index >= 0 && index < assignments.Count)
        {
            var toRemove = assignments[index];
            tempSelections.Remove(toRemove);
        }
        StateHasChanged();
    }

    private bool isDisabled { get; set; } = false;
    private async Task LoadUserData()
    {
        var authStateProvider = (CustomAuthStateProvider)provider;
        string userRole = await authStateProvider.GetCurrentUserRoleAsync();
        isDisabled = userRole != "MainAdmin";
    }
}