@page "/events"
@page "/"
@using System.Globalization
@using AntDesign
@using TheatreManagement.Client.Helpers.ClientModels
@using TheatreManagement.Shared.DTOs.Events


<PageTitle>Мероприятия</PageTitle>
<div class="events-calendar-page">
    @if (_isCalendarMode) {

        <Calendar Value="currentDate"
                  DateCellRender="DateCellRender"
                  HeaderRender="CustomHead"
                  OnSelect="OnDateSelect"
                  CultureInfo="@CultureInfo.InvariantCulture" />
    }
    else {
    <EventsHeader CurrentDate="@currentDate"
                      CurrentDateChanged="@(async (date) => CurrentDateChangedTable(date))"
                             OnPreviousMonth="PreviousMonth"
                             OnNextMonth="NextMonth"
                             OnChangeMode="ChangeMode"
                             IsCalendarMode="@_isCalendarMode"
                             OnCreateReport="() => _createReportModalVisible = true"/>

        <Table TItem="EventTableRow"
               DataSource="@_tableData"
               Bordered="true"
               HidePagination="true"
               Class="events-table">

            <!-- Колонка с названиями мест -->
            <PropertyColumn TItem="EventTableRow"
                            TProp="string"
                            Property="c => c.Location"
                            Title="Место"
                            Width="150px"
                            Fixed="ColumnFixPlacement.Left" />

            <!-- Динамические колонки для каждого дня -->
            @foreach (var day in _daysInMonth)
            {
                var dayIndex = day.Day;
                var dayOfWeek = day.ToString("ddd", CultureInfo.GetCultureInfo("ru-RU"));

                <PropertyColumn TItem="EventTableRow"
                                TProp="string"
                                Title="@($"{dayIndex} {dayOfWeek}")">
                    <Template>
                        @{
                            var row = (EventTableRow)context;
                            var cellContent = row.EventsByDate.GetValueOrDefault(day, "");
                            if (!string.IsNullOrEmpty(cellContent))
                            {
                                <div>
                                    @cellContent
                                </div>
                            }
                        }
                    </Template>
                </PropertyColumn>
            }

        </Table>
    }
</div>

<CreateReportModal @bind-Visible="_createReportModalVisible"
OnSuccess="OnModalSuccess"/>

@code {
    [Inject] private NavigationManager navManager { get; set; }
    [Inject] private EventService eventService { get; set; }
    [Inject] private HallTypeService hallTypeService { get; set; }

    private DateTime currentDate = DateTime.Now;
    private List<EventGetModel> allEvents = new();

    private bool isLoading = false;
    private bool _createReportModalVisible = false;
    private bool _isCalendarMode = true;

    private async Task ChangeMode()
    {
        _isCalendarMode = !_isCalendarMode;

        if (!_isCalendarMode)
        {
            _daysInMonth = GetDaysInMonth(currentDate);
            _tableData = await GetTableData(currentDate);
        }

        StateHasChanged();
    }

    private async Task OnModalSuccess()
    {
        StateHasChanged();
    }

    class DayData
    {
        public bool HasConflict = false;
        public int EventsCount;
        public List<EventData> Events = new();
    }

    class EventData
    {
        public string TimePeriod;
        public string EventType;
        public string Content;
        public string CancellationReason;
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadEventsForMonth(currentDate);
    }

    private async Task LoadEventsForMonth(DateTime date)
    {
        if (isLoading) return;
        isLoading = true;

        try
        {
            var firstDayOfMonth = new DateTime(date.Year, date.Month, 1);
            var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);

            // К временному промежутку добавлено по 2 недели с начала и конца для правильного отображения мероприятий
            var startDate = firstDayOfMonth.AddDays(-14);
            var endDate = lastDayOfMonth.AddDays(14);

            allEvents = await eventService.GetEventsByDateRangeAsync(startDate, endDate);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Ошибка: {ex.Message}");
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    private string GetEventClassByType(string eventType, bool isCanceled)
    {
        if (isCanceled) return "event-canceled";

        return eventType switch
        {
            "stationar" => "event-stationar",
            "tour" => "event-tour",
            "visit" => "event-visit",
            _ => "event-default"
        };
    }

    private DayData GetDayData(DateTime date)
    {
        var eventsOnDay = allEvents.Where(e =>
        e.StartTime?.Date == date.Date ||
        (e.StartTime?.Date <= date.Date && e.EndTime?.Date >= date.Date)).ToList();

        var dayData = new DayData
                {
                    EventsCount = eventsOnDay.Count,
                    HasConflict = eventsOnDay.Any(e => e.HasConflict),
                    Events = new List<EventData>()
                };

        foreach (var ev in eventsOnDay.Take(3))
        {
            string content = ev.Plays.Select(p => p.Name).FirstOrDefault() ?? "";

            string timePeriod = ev.GetTimePeriodForDate(date);

            dayData.Events.Add(new EventData
                    {
                        EventType = ev.Type,
                        CancellationReason = ev.CancellationReason,
                        Content = content,
                        TimePeriod = timePeriod
                    });
        }

        return dayData;
    }

    private RenderFragment CustomHead(CalendarHeaderRenderArgs calendarHeaderRenderArgs)
    {
       return @<EventsHeader CurrentDate="@currentDate"
                         CurrentDateChanged="@(async (date) => await OnDatePickerChanged(date))"
                         OnPreviousMonth="PreviousMonth"
                         OnNextMonth="NextMonth"
                         OnChangeMode="ChangeMode"
                         IsCalendarMode="@_isCalendarMode"
                         OnCreateReport="() => _createReportModalVisible = true"/>
     ;
    }

    private void OnDateSelect(DateTime date)
    {
        var dateString = $"{date.Year:0000}-{date.Month:00}-{date.Day:00}";
        navManager.NavigateTo($"/events/{dateString}");
    }

    private async Task OnDatePickerChanged(DateTime newDate)
    {
        currentDate = newDate;
        await LoadEventsForMonth(currentDate);
        StateHasChanged();
    }

    // Для общей шапки
    private async Task NextMonth()
    {
        currentDate = currentDate.AddMonths(1);
        await LoadEventsForMonth(currentDate);

        if (!_isCalendarMode)
        {
            _tableData = await GetTableData(currentDate);
            _daysInMonth = GetDaysInMonth(currentDate);
            StateHasChanged();
        }

        StateHasChanged(); 
    }

    private async Task PreviousMonth()
    {
        currentDate = currentDate.AddMonths(-1);
        await LoadEventsForMonth(currentDate);

        if (!_isCalendarMode)
        {
            _tableData = await GetTableData(currentDate);
            _daysInMonth = GetDaysInMonth(currentDate);
            StateHasChanged();
        }

        StateHasChanged();
    }

    private RenderFragment DateCellRender(DateTime value) {
        var dayData = GetDayData(value);
        return @<Template>
        <div class="calendar-cell">
            @if(dayData.HasConflict)
            {
                <Tooltip Title="Есть конфликты в расписании" class="conflict-tooltip">
                    <div>
                    <WarningIcon/>
                    </div>
                </Tooltip>
            }
            <ul class="events">
                @foreach (var data in dayData.Events)
            {
                <li key="@data.Content" class="event-item">
                    <span class="event-time">@data.TimePeriod</span>
                    <span class="@GetEventClassByType(data.EventType, data.CancellationReason != null)">
                        @data.Content
                    </span>
                </li>
            }
            </ul>
            @if( dayData.EventsCount > 3) {
            <p> ...еще @(dayData.EventsCount - 3)</p>
        }
        </div>
    </Template>
    ;}


    // ДЛЯ ТАБЛИЧНОГО ОТОБРАЖЕНИЯ

    private async Task<List<EventTableRow>> GetTableData(DateTime date)
    {
        var firstDayOfMonth = new DateTime(date.Year, date.Month, 1);
        var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);

        // Все дни месяца
        var daysInMonth = Enumerable.Range(0, (lastDayOfMonth - firstDayOfMonth).Days + 1)
            .Select(offset => firstDayOfMonth.AddDays(offset))
            .ToList();

        // Группируем события по местам
        var locations = await GetLocations();

        var tableData = new List<EventTableRow>();

        foreach (var location in locations)
        {
            var row = new EventTableRow
            {
                Location = location,
                EventsByDate = new Dictionary<DateTime, string>()
            };

            foreach (var day in daysInMonth)
            {
                var eventsOnDay = allEvents
                    .Where(e => e.StartTime.HasValue && e.StartTime.Value.Date == day.Date)
                    // .Where(e => e.GetLocations().Contains(location))
                    .ToList();

                if (eventsOnDay.Any())
                {
                    row.EventsByDate[day] = string.Join(", ", eventsOnDay.Select(e => e.GetDisplayText()));
                }
                else
                {
                    row.EventsByDate[day] = "";
                }
            }

            tableData.Add(row);
        }

        return tableData;
    }

    public async Task<List<string>> GetLocations()
    {
        var locations = new List<string>();


        var stationarLocations = await hallTypeService.GetHallTypesAsync(); 
        foreach (var statLoc in stationarLocations)
        {
            locations.Add(statLoc.Name);
        }

        locations.Add($"Гастроли");
        locations.Add($"Выезда");

        return locations;
    }

    private List<EventTableRow> _tableData = new();
    private List<DateTime> _daysInMonth = new();

    private List<DateTime> GetDaysInMonth(DateTime date)
    {
        var firstDayOfMonth = new DateTime(currentDate.Year, currentDate.Month, 1);
        var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);
        return Enumerable.Range(0, (lastDayOfMonth - firstDayOfMonth).Days + 1)
            .Select(offset => firstDayOfMonth.AddDays(offset))
            .ToList();
    }

    private async Task CurrentDateChangedTable(DateTime date)
    {
        currentDate = date;
        Console.WriteLine(currentDate);
        _tableData = await GetTableData(currentDate);
        _daysInMonth = GetDaysInMonth(currentDate);
        StateHasChanged();
    }

    private async Task OnValueChanged(DateTime newDate)
    {
        currentDate = newDate;
        _daysInMonth = GetDaysInMonth(newDate);
        // await LoadEventsForMonth(currentDate);
    }

}