@page "/plays/{id:int}/casts"

<PageTitle>Список составов</PageTitle>

<PageHeader>
    <PageHeaderTitle>Список составов</PageHeaderTitle>
    <PageHeaderSubtitle></PageHeaderSubtitle>
</PageHeader>

<Card>
    <Button Type="ButtonType.Primary" OnClick="@(() => addModalVisible = true)">
        <Icon Type="@IconType.Outline.Plus" />
    </Button>

    @*     <FormItem Label="Выберите роль">
        <Select Mode="SelectMode.Default"
                DataSource="@_roles"
                @bind-Value="@context.Role"
                LabelName="Text"
                ValueName="Value">
        </Select>
    </FormItem> *@

</Card>

<AddCastModal @bind-Visible="@addModalVisible"
PlayId=@Id
OnSuccess="@OnCastAdded" />

@code {
    [Parameter] public int Id { get; set; }

    private bool addModalVisible = false;

    private async Task OnCastAdded()
    {
    }


}
