@using AntDesign
@using Microsoft.AspNetCore.Components.Forms
@using TheatreManagement.Shared.DTOs

@{
    RenderFragment footer = @<Template>
        <Button OnClick="@HandleOk" @key="@( "submit" )"
                Type="ButtonType.Primary">
            Сохранить
        </Button>
        <Button OnClick="@HandleCancel" @key="@( "back" )">Отмена</Button>

        <Button OnClick="@SoftDelete" @key="@( "delete" )">Удалить</Button>
    </Template>;
}

<Modal Visible="@Visible"
OkButtonProps="@(new ButtonProps { Disabled = Submitting })"
Title="Редактирование пользователя"
OnOk="HandleOk"
OnCancel="HandleCancel"
ConfirmLoading="Submitting"
MaskClosable="@false"
Footer="@footer">

    <Form Model="@Model"
    OnFinishFailed="@OnFinishFailed"
    OnFinish="@OnFinish"
    @ref="@FormRef">

        <div>
            @if (error.Length > 0)
            {
                <Alert Type="AlertType.Error"
                Message="@error"
                Banner />
            }
        </div>

        <FormItem Label="Введите фамилию">
            <Input @bind-Value="@context.Surname" />
        </FormItem>
        <FormItem Label="Введите имя">
            <Input @bind-Value="@context.Name" />
        </FormItem>
        <FormItem Label="Введите отчество">
            <Input @bind-Value="@context.FatherName" />
        </FormItem>
        <FormItem Label="Введите e-mail">
            <Input @bind-Value="@context.Email" />
        </FormItem>

        <FormItem Label="Выберите роль">
            <Select Mode="SelectMode.Default"
            DataSource="@_roles"
            @bind-Value="@context.Role"
            LabelName="Text"
            ValueName="Value">
            </Select>
        </FormItem>
    </Form>
</Modal>


@code {
    [Parameter] public bool Visible { get; set; }
    [Parameter] public EventCallback<bool> VisibleChanged { get; set; }
    [Parameter] public EventCallback OnSuccess { get; set; }
    [Parameter] public string Id { get; set; }

    [Inject] private AuthenticationStateProvider provider { get; set; }

    private Form<UserDto> FormRef { get; set; }
    private UserDto Model { get; set; } = new();

    private bool Submitting { get; set; } = false;

    public string error = "";

    // Работа с ролями
    private string _selectedRole;
    private List<RoleItem> _roles = RoleHelper.GetAllRoles();

    private async Task LoadData()
    {
        var authStateProvider = (CustomAuthStateProvider)provider;

        Model = await authStateProvider.GetUserByIdAsync(Id);
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Visible)
        {
            await LoadData();
        }
    }

    private async Task OnFinish(EditContext editContext)
    {
        if (Submitting) return;

        Submitting = true;
        StateHasChanged();

        try
        {
            var authStateProvider = (CustomAuthStateProvider)provider;
            await authStateProvider.UpdateUserAsync(Model);

            Visible = false;
            await VisibleChanged.InvokeAsync(false);
            await OnSuccess.InvokeAsync();

            ResetForm();
        }
        catch (Exception ex)
        {
            error = ex.Message;
            StateHasChanged();
        }
        finally
        {
            Submitting = false;
            StateHasChanged();
        }
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed");
    }

    private async Task HandleOk()
    {
        if (FormRef != null)
        {
            FormRef.Submit();
        }
    }

    private async Task HandleCancel()
    {
        Visible = false;
        await VisibleChanged.InvokeAsync(false);
        ResetForm();
    }


    private async Task SoftDelete()
    {
        var authStateProvider = (CustomAuthStateProvider)provider;
        await authStateProvider.SoftDeleteUserAsync(Id);
    }

    private void ResetForm()
    {
        Model = new RegisterModel();
        error = "";
        FormRef?.Reset();
        StateHasChanged();
    }
}