@using TheatreManagement.Client.Pages
@using TheatreManagement.Client.Services
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <Header class="header">
            @if (collapsed)
            {
                <Icon Type="@IconType.Outline.MenuUnfold" Class="trigger" OnClick="toggle" />
            }
            else
            {
                <Icon Type="@IconType.Outline.MenuFold" Class="trigger" OnClick="toggle" />
            }


            @* Отображение пользователя и действий с ним*@
            <span class="user-dropdown">
                <Dropdown Trigger="@(new Trigger[] { Trigger.Click })"
                Placement="Placement.BottomRight">
                    <Overlay>
                        <Menu>
                            <MenuItem>
                                <a rel="noopener noreferrer" href="/profile">
                                    Профиль
                                </a>
                            </MenuItem>
                            <MenuItem>
                                <a rel="noopener noreferrer" href="#" @onclick="Logout">
                                    Выйти
                                </a>
                            </MenuItem>
                        </Menu>
                    </Overlay>
                    <ChildContent>
                        <a class="ant-dropdown-link" @onclick:preventDefault>
                            @_fio <Icon Type="@IconType.Outline.Down" />
                        </a>
                    </ChildContent>
                </Dropdown>
            </span>
        </Header>
    </Authorized>
</AuthorizeView>

@* Основной контент *@
<Layout>

    <AuthorizeView>
        <Authorized>

            <Sider class="sider-menu" @bind-Collapsed=@collapsed NoTrigger>
                <Menu Theme="MenuTheme.Light" 
                Mode="MenuMode.Vertical" 
                SelectedKeys=@selectedKeys
                OnMenuItemClicked="OnMenuItemClicked">

                    <MenuItem Key="plays">
                        <Icon Type="@IconType.Outline.Read" />
                        <span>
                            <NavLink href="plays">
                                Спектакли
                            </NavLink>
                        </span>
                    </MenuItem>
                    <MenuItem Key="events">
                        <Icon Type="@IconType.Outline.Calendar" />
                        <span>
                            <NavLink href="events">
                                Мероприятия
                            </NavLink>
                        </span>
                    </MenuItem>
                    <MenuItem Key="employees">
                        <Icon Type="@IconType.Outline.Contacts" />
                        <span>
                            <NavLink href="employees">
                                Сотрудники
                            </NavLink>
                        </span>
                    </MenuItem>
                    <MenuItem Key="users">
                        <Icon Type="@IconType.Outline.Team" />
                        <span>
                            <NavLink href="users">
                                Пользователи
                            </NavLink>
                        </span>
                    </MenuItem>
                </Menu>
            </Sider>

            <Layout Class="site-layout">
                <Content Class="site-layout-background" Style="margin: 24px 16px;padding: 24px;min-height: 280px;">
                    @Body
                </Content>
            </Layout>

        </Authorized>
        <NotAuthorized>
            <Login />
        </NotAuthorized>
    </AuthorizeView>

</Layout>

@inject AuthenticationStateProvider provider
@inject NavigationManager navManager
@code {
    private UserViewModel? _user;
    private string? _fio;

    //Загрука данных о пользователе для отображения фио
    protected override async Task OnInitializedAsync()
    {
        ((CustomAuthStateProvider)provider).AuthenticationStateChanged += OnAuthenticationStateChanged;
        await LoadUserData();
        UpdateSelectedKeys();
    }

    private async void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        await InvokeAsync(async () =>
        {
            await LoadUserData();
            StateHasChanged();
        });
    }

    private async Task LoadUserData()
    {
        var authStateProvider = (CustomAuthStateProvider)provider;
        _user = await authStateProvider.GetCurrentUserAsync();

        if (_user != null)
        {
            _fio = $"{_user.Surname} {_user.Name} {_user.FatherName}".Trim();
        }
        else
        {
            _fio = null;
        }
    }

    public void Dispose()
    {
        ((CustomAuthStateProvider)provider).AuthenticationStateChanged -= OnAuthenticationStateChanged;
    }

    private void Logout(MouseEventArgs e)
    {
        var authStateProvider = (CustomAuthStateProvider)provider;
        authStateProvider.Logout();
        navManager.NavigateTo("/");
    }

    // Работа меню
    bool collapsed;
    string[] selectedKeys = new string[0];


    protected override void OnParametersSet()
    {
        UpdateSelectedKeys();
    }

    private void UpdateSelectedKeys()
    {
        var currentUri = NavigationManager.Uri;
        var key = GetKeyFromUri(currentUri);
        selectedKeys = new[] { key };
    }

    private string GetKeyFromUri(string uri)
    {
        if (uri.Contains("/plays")) return "plays";
        if (uri.Contains("/events")) return "events";
        if (uri.Contains("/employees")) return "employees";
        if (uri.Contains("/users")) return "users";
        
        return "events";
    }

    private void OnMenuItemClicked(MenuItem menuItem)
    {
        selectedKeys = new[] { menuItem.Key };
    }

    void toggle()
    {
        collapsed = !collapsed;
    }

    void OnCollapse(bool isCollapsed)
    {
        Console.WriteLine($"Collapsed: {isCollapsed}");
    }
}