@page "/forgot-password"

<PageTitle>Сброс пароля</PageTitle>

<div class="forgot-password-page">

    <Form Model="new{}">

        <PageHeader>
            <BackIconTemplate>
                <Button Type="ButtonType.Primary">
                    <Icon Type="@IconType.Outline.Left" />
                </Button>
            </BackIconTemplate>
            <PageHeaderTitle>Сброс пароля</PageHeaderTitle>
        </PageHeader>

        @if (isSuccess)
        {
            <p> Проверьте почту для сброса пароля.</p>
            <FormItem>
                <a href="/login">Вернуться ко входу</a>
            </FormItem>
        }
        else
        {
            <FormItem Label="Введите e-mail">
                <Input placeholder="Email" @bind-Value="Email" Disabled="@isSubmitting" />
            </FormItem>
            <div>@error</div>
            <FormItem>
                <Button Type="ButtonType.Primary" OnClick="SendResetLink" Disabled="@isSubmitting">
                    @(isSubmitting ? "Отправка..." : "Отправить ссылку")
                </Button>
            </FormItem>
        }
    </Form>
</div>

@inject AuthenticationStateProvider provider
@layout PublicLayout
@inject NavigationManager Navigation
@code {
    private string Email { get; set; } = "";
    private bool isSubmitting = false;
    private bool isSuccess = false;
    private string error = "";

    private async Task SendResetLink()
    {
        if (string.IsNullOrEmpty(Email))
        {
            error = "Введите email";
            return;
        }
        error = "";
        isSubmitting = true;
        StateHasChanged();

        await ForgotPasswordAsync();
        isSubmitting = false;
        StateHasChanged();
    }

    private async Task ForgotPasswordAsync()
    {
        var authStateProvider = (CustomAuthStateProvider)provider;
        var formResult = await authStateProvider.ForgotPasswordAsync(Email);
        if (formResult.Succeeded)
        {
            isSubmitting = false;
            isSuccess = true;

        }
        else
        {
            error = formResult.Errors[0];
        }
    }
}