@page "/reset-password"

<PageTitle>Сброс пароля</PageTitle>

<div class="login-page">
    <Form Model="new{}">
        <PageHeader>
            <PageHeaderTitle>Сброс пароля</PageHeaderTitle>
        </PageHeader>
        <p></p>
        @if (isSuccess)
        {
            <p>Пароль изменен. <a href="/login">Войти</a></p>
        }
        else if (!isValidToken)
        {
            <FormItem Label="Неверная ссылка">
                <p><a href="/forgot-password">Запросить новую</a></p>
            </FormItem>
        }
        else
        {
            <FormItem Label="Введите новый пароль">
                <InputPassword placeholder="Новый пароль" @bind-Value="NewPassword" Disabled="@isSubmitting" />
            </FormItem>

            <FormItem Label="Подтвердите новый пароль">
                <InputPassword placeholder="Подтверждение пароля" @bind-Value="ConfirmPassword" Disabled="@isSubmitting"/>
            </FormItem>
            <Alert Type="AlertType.Error"
            Message="@error"
            Banner />

            <FormItem>
                <Button Type="ButtonType.Primary" OnClick="Reset" Disabled="@isSubmitting">
                    @(isSubmitting ? "Сохранение..." : "Сохранить")
                </Button>
            </FormItem>
        }
    </Form>
</div>

@layout PublicLayout
@inject AuthenticationStateProvider provider
@inject NavigationManager Navigation
@code {
    [Parameter][SupplyParameterFromQuery] public string? Email { get; set; }
    [Parameter][SupplyParameterFromQuery] public string? Token { get; set; }

    private string NewPassword { get; set; } = "";
    private string ConfirmPassword { get; set; } = "";
    private string error = "";
    private bool isSubmitting = false;
    private bool isValidToken = true;
    private bool isSuccess = false;

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(Email) || string.IsNullOrEmpty(Token))
        {
            isValidToken = false;
        }
        else
        {
            Token = Uri.UnescapeDataString(Token);
        }
    }

    private async Task Reset()
    {
        if (NewPassword != ConfirmPassword)
        {
            error = "Пароли не совпадают";
            return;
        }

        isSubmitting = true;
        error = "";
        StateHasChanged();

        var authStateProvider = (CustomAuthStateProvider)provider;
        var formResult = await authStateProvider.ResetPasswordAsync(Email, Token, NewPassword);
        if (formResult.Succeeded)
        {
            isSubmitting = false;
            isSuccess = true;

        }
        else
        {
            error = formResult.Errors[0];
        }
        StateHasChanged();
    }
}