@page "/employees/{id:int}"

<PageTitle>Информация о сотруднике</PageTitle>

<PageHeader>
    <BackIconTemplate>
        <Button Type="ButtonType.Primary" OnClick="@GoBack">
            <Icon Type="@IconType.Outline.Left" />
            Назад
        </Button>
    </BackIconTemplate>
    <PageHeaderTitle>Информация о сотруднике</PageHeaderTitle>
    <PageHeaderExtra>
        <Button Type="ButtonType.Primary" OnClick="@(() => _createReportModalVisible = true)">
            Отчет
            <Icon Type="@IconType.Outline.Right" />
        </Button>
    </PageHeaderExtra>
</PageHeader>



<Card Title=@fullName>
    <Extra>
        <AuthorizeView Roles="MainAdmin">
            <Authorized>
                <Button Type="ButtonType.Default" OnClick="@(() => editModalVisible = true)">
                    <Icon Type="@IconType.Outline.Edit" />
                </Button>

                <DeleteButtonWithConfirm OnConfirm="SoftDelete">
                </DeleteButtonWithConfirm>
            </Authorized>
        </AuthorizeView>
    </Extra>
    <Body>

        <CardGrid Style="width:50%;text-align:center" Hoverable="false">
            Должность: @employee.Post
        </CardGrid>
        <CardGrid Style="width:50%;text-align:center" Hoverable="false">
            @if (employee.IsActive)
            {
                <Tag Color="TagColor.Success">Присутствует</Tag>
            }
            else
            {
                <Tag Color="TagColor.Red">Отсутствует</Tag>
            }
        </CardGrid>

        <Card Style="width:50%;text-align:center" Title="Участие в составах">

        </Card>
        <Card Style="width:50%;text-align:center" Title="Участие в мероприятиях">

        </Card>

    <p>Последнее изменение: @employee.LastEditTime.ToString() - @employee.UserFullName.ToString()</p>
    </Body>
</Card>

<EditModal @bind-Visible="@editModalVisible"
EmployeeId="@Id"
OnSuccess="@OnEmployeeEdit" />

<CreateReportModal @bind-Visible="_createReportModalVisible"
                   EmployeeId="@Id" />

@inject EmployeeService employeeService
@inject NavigationManager navManager
@code {
    [Parameter] public int Id { get; set; }

    private EmployeeDto employee = new();
    private string fullName = "";
    private bool _createReportModalVisible = false;

    private bool editModalVisible = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        employee = await employeeService.GetEmployeeAsync(Id);
        fullName = $"{employee.Surname} {employee.Name} {employee.FatherName}";
    }

    private async Task OnEmployeeEdit()
    {
        await LoadData();
    }


    private async Task CreateReport()
    {

    }

    private async Task SoftDelete()
    {
        await employeeService.SoftDeleteEmployeeAsync(Id);
        navManager.NavigateTo("/employees");
    }

    private void GoBack()
    {
        navManager.NavigateTo("/employees");
    }
}
