@page "/employees/{id:int}/partincasts"
@using TheatreManagement.Shared.DTOs.Employees

<PageTitle>Участие в составах</PageTitle>

<PageHeader>
    <BackIconTemplate>
        <Button Type="ButtonType.Primary">
            <Icon Type="@IconType.Outline.Left" />
            Назад
        </Button>
    </BackIconTemplate>
    <PageHeaderTitle>@(employee.FullName)</PageHeaderTitle>
</PageHeader>

<div class="casts-container">

    <div class="preview-control-panel">
        <h3>Участие в составах</h3>
<Search Placeholder="Введите название спектакля, состава или роли"
        @bind-Value="@searchText"
        EnterButton="true"
        OnSearch="@OnSearchAsync" />
    </div>
    <div Class="cast-card">
    @foreach (var play in employeePlays)
    {
            <Card Class="employee-prewiew-card" Title="@play.PlayName">
            @foreach( var cast in play.Casts)
            {
                <CardGrid Class="employee-inner-column">
                    <p>@cast.CastName</p>
                </CardGrid>
                <CardGrid Class="employee-inner-column">
                    @foreach (var role in cast.Roles)
                    {
                        <p>@role</p>
                    }
                </CardGrid>
            }
        </Card>
    }
    </div>

    <div class="preview-control-panel">
<Pagination PageSize="pageSize"
            Current="currentPage"
            Total="total">

</Pagination>
    </div>
</div>

@inject EmployeeService employeeService
@inject NavigationManager navManager
@code {
    [Parameter] public int Id { get; set; }
    private int total = 0;
    private int pageSize = 5;
    private int currentPage = 1;
    private string? searchText = null;
    private bool addModalVisible = false;
    private List<EmployeePlays> employeePlays = new();

    private EmployeeDto employee = new();
    private bool _createReportModalVisible = false;

    private bool editModalVisible = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync(1);
    }

    private async Task LoadDataAsync(int page)
    {
        employee = await employeeService.GetEmployeeAsync(Id);

        try
        {
            var result = await employeeService.GetEmployeeCastsAsync(Id, page, pageSize, searchText);
            if (result != null)
            {
                employeePlays = result.Items ?? new List<EmployeePlays>();
                total = result.TotalCount;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Ошибка: {ex.Message}");
        }
    }

    private async Task OnSearchAsync()
    {
        currentPage = 1;
        await LoadDataAsync(1);
    }

}
